html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 0 0 1.5em;
  padding: 2em 0 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  color: #333;
}

p {
  display: inline-block;
  color: #333;
  max-width: 100%;
}

h2, p {
  margin: 0 0 1.5rem;
}

.btn {
  display: inline-block;
  padding: .5em .75em;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  border: 3px solid #333;
  color: #333;
  text-decoration: none;
  font-size: 1.08rem;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  font-size: 1.08rem;
}

.image {
  display: inline-block;
  max-width: 25em;
  width: 100%;
  vertical-align: middle;
}

.right {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
  vertical-align: middle;
}
