html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  margin: 1.25rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 90%;
  display: inline-block;
  text-align: center;
}

div {
  display: inline-block;
}

h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 1.5rem;
  display: block;
  color: #333;
}

p {
  display: block;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #333;
}

a {
  display: inline;
  padding: .4em, .75em, .5em;
  border-style: solid;
  border-color: #333;
  color: #333;
}

a:hover {
  background-color: #666;
  colour: #eee96e
}
