html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-align: left;
  display: block;
}
